[submodule "faabric"]
	path = faabric
	url = https://github.com/PancakeTY/native-faabric.git
[submodule "clients/python"]
	path = clients/python
	url = https://github.com/PancakeTY/native-python.git
[submodule "clients/cpp"]
	path = clients/cpp
	url = https://github.com/PancakeTY/native-cpp.git
